.super-mario {
    position: absolute;
    top: 200px;
    }

.goomba {
    position: absolute;
    top: 1400px;
}
.word {
    position: absolute;
    top: 450px;
    left: 1555px;
    z-index: 1;
}

.baloon {
    position: absolute;
    top: 400px;
    left: 1500px;
}

.bowser {
    position: absolute;
    top: 400px;
    left: 1800px;
}
